.input-group-login{
  margin-top:10%;width: 80%;margin-left: 10%;
}
.outer { height: 100vh; box-sizing: border-box ; position: relative;background-color: #5FD9CD }
.content{
  background: #ffffff; position: absolute; top: 100px ; left: 41% ; width: 100%;
  width: 400px;height: 500px;
}

/* 颜色#EAF786 #FFB5A1 #B8FFB8 #B8F4FF */
