<div class="outer">
  <div class="content container text-center">
    <h3 class="text-info" style="margin-top: 10%">
      离成功只差一步哦
    </h3>
    <div class="input-group-login">
      <input type="text" class="form-control" required [(ngModel)]="userName" name="userName" placeholder="用户名">
      <input type="text" class="m-t-xxl form-control" required [(ngModel)]="passWord" name="passWord" placeholder="密码">
      <div class="m-t-xxl">
        <button type="button" class="btn btn-primary btn-block" (click)="registered()">确认</button>
      </div>
    </div>
  </div>
</div>
