.input-group-login{
  margin-top:10%;width: 80%;margin-left: 10%;
}
.outer { height: 100vh; box-sizing: border-box ; position: relative;background-color: #B8FFB8 }
.content{
  background: #ffffff; position: absolute; top: 100px ; left: 41% ; width: 100%;
  width: 400px;height: 500px;
}
